*{
   margin: 0;
   padding: 0;

}
body{
   height: 100vh;
   background-color: blueviolet;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   align-items: center;
   
}

.child{

   width: 100px;
   height: 100px;
   background-color: blue;
}
